export TF_VAR_subscription_id=
export TF_VAR_gh_repo=
export TF_VAR_location=
export TF_VAR_bot_tenant_id=
export TF_VAR_custom_bot_domain=
export TF_VAR_ai_foundry_agent_id=
export TF_VAR_ai_foundry_endpoint=
export TF_VAR_ai_foundry_rg_id=